In [1]:
import os
import sys
import time
import pandas as pd
import numpy as np

In [2]:
data_folder = 'data'
data_files = os.listdir(data_folder)
data_files = [i for i in data_files if '.csv' in i]
data_files_eeg = [i for i in data_files if 'eeg' in i]
data_files_event = [i for i in data_files if 'event' in i]
data_files_eeg.sort()
data_files_event.sort()

In [3]:
data_files_eeg

['eeg_data 10_per.csv',
 'eeg_data 5_per.csv',
 'eeg_data eye_close_actual_muscle.csv']

In [4]:
data_files_event

['event_data 10_per.csv',
 'event_data 5_per.csv',
 'event_data eye_close_actual_muscle.csv']

In [5]:
data_eeg = [pd.read_csv('data/'+i) for i in data_files_eeg]
data_event = [pd.read_csv('data/'+i) for i in data_files_event]

In [6]:
eeg10 = data_eeg[0]
eeg10

          timestamp             4            5             6            7
0      1.601330e+09      0.000000     0.000000      0.000000     0.000000
1      1.601330e+09  11102.714968 -2329.632918 -15015.879573  2087.004732
2      1.601330e+09  13684.989653 -1717.329230 -15123.547926  3529.094580
3      1.601330e+09  12287.782107  -819.683173 -12377.278492  3276.855144
4      1.601330e+09   9511.538984 -1332.700411 -11947.052115  1779.377673
...             ...           ...          ...           ...          ...
81731  1.601330e+09  17464.423771  1785.524402 -10709.704245  7737.481026
81732  1.601330e+09  15606.010330  2500.601411  -8214.869584  7164.024671
81733  1.601330e+09  13158.762534  1712.970640  -8557.968862  5659.104068
81734  1.601330e+09  14702.888096   894.941496 -11093.103718  6038.301413
81735  1.601330e+09  17336.035351  1560.151763 -11095.227134  7580.057690

[81736 rows x 5 columns]

In [7]:
event10 = data_event[0]
event10

       timestamp    event
0   1.601330e+09  start_3
1   1.601330e+09    end_3
2   1.601330e+09  start_4
3   1.601330e+09    end_4
4   1.601330e+09  start_2
..           ...      ...
75  1.601330e+09    end_3
76  1.601330e+09  start_2
77  1.601330e+09    end_2
78  1.601330e+09  start_4
79  1.601330e+09    end_4

[80 rows x 2 columns]

In [8]:
timestamp10eeg = eeg10['timestamp'].to_numpy()
timestamp10event = event10['timestamp'].to_numpy()

eeg10_time = np.rint(timestamp10eeg * 1000)
eeg10_tmin = eeg10_time[0]
eeg10_time = eeg10_time - eeg10_tmin
eeg10_time = eeg10_time.astype(int)

event10_time = np.rint(timestamp10event * 1000)
event10_tmin = event10_time[0]
event10_time = event10_time - event10_tmin
event10_time = event10_time.astype(int)

In [9]:
np.set_printoptions(threshold=sys.maxsize)
len(eeg10_time)

81736

In [10]:
event10_time

array([     0,   4293,   8609,  12934,  16419,  20734,  24235,  28531,
        32322,  36618,  40127,  44431,  47915,  52240,  55873,  60196,
        64354,  68659,  72687,  76975,  81287,  85605,  89892,  94197,
        97822, 102131, 105894, 110218, 114259, 118542, 122447, 126745,
       130899, 135200, 138824, 143103, 146603, 150912, 154388, 158713,
       163031, 167307, 170681, 174959, 178578, 182877, 187029, 191338,
       195371, 199690, 203732, 208007, 211632, 215943, 220245, 224524,
       228855, 233162, 236915, 241221, 245254, 249543, 253176, 257483,
       260828, 265131, 269281, 273602, 277362, 281667, 285571, 289848,
       293762, 298068, 302106, 306387, 310690, 314993, 318341, 322647])

In [11]:
81736*4 - eeg10_time[-1]

157

In [12]:
eeg10['time'] = eeg10_time
event10['time'] = event10_time

In [13]:
eeg10['timestamp'] = eeg10['time']
eeg10 = eeg10.drop('time', axis = 1)
eeg10 = eeg10.rename(columns={'timestamp' : 'time'})
#eeg10 = eeg10.set_index('time')

In [14]:
eeg10

         time             4            5             6            7
0           0      0.000000     0.000000      0.000000     0.000000
1           0  11102.714968 -2329.632918 -15015.879573  2087.004732
2           6  13684.989653 -1717.329230 -15123.547926  3529.094580
3           6  12287.782107  -819.683173 -12377.278492  3276.855144
4          14   9511.538984 -1332.700411 -11947.052115  1779.377673
...       ...           ...          ...           ...          ...
81731  326748  17464.423771  1785.524402 -10709.704245  7737.481026
81732  326749  15606.010330  2500.601411  -8214.869584  7164.024671
81733  326759  13158.762534  1712.970640  -8557.968862  5659.104068
81734  326786  14702.888096   894.941496 -11093.103718  6038.301413
81735  326787  17336.035351  1560.151763 -11095.227134  7580.057690

[81736 rows x 5 columns]

In [15]:
event10['timestamp'] = event10['time']
event10 = event10.drop('time', axis = 1)
event10 = event10.rename(columns={'timestamp' : 'time'})
#event10 = event10.set_index('time')
event10

      time    event
0        0  start_3
1     4293    end_3
2     8609  start_4
3    12934    end_4
4    16419  start_2
..     ...      ...
75  306387    end_3
76  310690  start_2
77  314993    end_2
78  318341  start_4
79  322647    end_4

[80 rows x 2 columns]

In [27]:
time_ = eeg10.loc[eeg10['time'] <= 4293].iloc[-1]['time']
eeg10.loc[eeg10['time'] == time_]

      time             4            5             6            7
1074  4288  13928.690723 -1142.420011 -14092.260789  3883.637951

In [35]:
eeg10.loc[eeg10['time'] <= 4293].index.values[-1]

1074

In [36]:
1074 * 4

4296

In [48]:
for time in event10['time']:
    index = eeg10.loc[eeg10['time'] <= time].index.values[-1]
    adjusted_time = index*4
    event10.loc[event10['time'] == time,'time'] = adjusted_time
    #eeg10.iloc[index]['time'] = adjusted_time

In [51]:
eeg10['time']

0             0
1             0
2             6
3             6
4            14
          ...
81731    326748
81732    326749
81733    326759
81734    326786
81735    326787
Name: time, Length: 81736, dtype: int64

In [43]:
adjusted_time = index*4
adjusted_time

4296

In [46]:
event10.loc[event10['time'] == 4293,'time'] = adjusted_time

In [49]:
event10

      time    event
0        4  start_3
1     4304    end_3
2     8616  start_4
3    12944    end_4
4    16432  start_2
..     ...      ...
75  306556    end_3
76  310860  start_2
77  315136    end_2
78  318512  start_4
79  322792    end_4

[80 rows x 2 columns]

In [60]:
eeg10['time'] = list(range(0,len(eeg10)*4,4))

In [61]:
eeg10

         time             4            5             6            7
0           0      0.000000     0.000000      0.000000     0.000000
1           4  11102.714968 -2329.632918 -15015.879573  2087.004732
2           8  13684.989653 -1717.329230 -15123.547926  3529.094580
3          12  12287.782107  -819.683173 -12377.278492  3276.855144
4          16   9511.538984 -1332.700411 -11947.052115  1779.377673
...       ...           ...          ...           ...          ...
81731  326924  17464.423771  1785.524402 -10709.704245  7737.481026
81732  326928  15606.010330  2500.601411  -8214.869584  7164.024671
81733  326932  13158.762534  1712.970640  -8557.968862  5659.104068
81734  326936  14702.888096   894.941496 -11093.103718  6038.301413
81735  326940  17336.035351  1560.151763 -11095.227134  7580.057690

[81736 rows x 5 columns]

In [62]:
eeg10 = eeg10.rename(columns={'4' : 'C4'})
eeg10 = eeg10.rename(columns={'5' : 'C2'})
eeg10 = eeg10.rename(columns={'6' : 'C1'})
eeg10 = eeg10.rename(columns={'7' : 'C3'})
eeg10

         time            C4           C2            C1           C3
0           0      0.000000     0.000000      0.000000     0.000000
1           4  11102.714968 -2329.632918 -15015.879573  2087.004732
2           8  13684.989653 -1717.329230 -15123.547926  3529.094580
3          12  12287.782107  -819.683173 -12377.278492  3276.855144
4          16   9511.538984 -1332.700411 -11947.052115  1779.377673
...       ...           ...          ...           ...          ...
81731  326924  17464.423771  1785.524402 -10709.704245  7737.481026
81732  326928  15606.010330  2500.601411  -8214.869584  7164.024671
81733  326932  13158.762534  1712.970640  -8557.968862  5659.104068
81734  326936  14702.888096   894.941496 -11093.103718  6038.301413
81735  326940  17336.035351  1560.151763 -11095.227134  7580.057690

[81736 rows x 5 columns]

In [63]:
event10

      time    event
0        4  start_3
1     4304    end_3
2     8616  start_4
3    12944    end_4
4    16432  start_2
..     ...      ...
75  306556    end_3
76  310860  start_2
77  315136    end_2
78  318512  start_4
79  322792    end_4

[80 rows x 2 columns]

In [66]:
#[1 if 'start' in i else 0 for i in event10['event']]

In [70]:
event10.loc[event10['event'].str.contains('start')]

      time    event
0        4  start_3
2     8616  start_4
4    16432  start_2
6    24224  start_1
8    32344  start_3
10   40156  start_1
12   47948  start_3
14   55912  start_2
16   64396  start_1
18   72704  start_3
20   81340  start_2
22   89952  start_2
24   97888  start_1
26  105960  start_2
28  114332  start_4
30  122524  start_3
32  130988  start_3
34  138888  start_1
36  146692  start_4
38  154488  start_4
40  163132  start_4
42  170756  start_4
44  178684  start_1
46  187140  start_2
48  195488  start_2
50  203820  start_3
52  211760  start_2
54  220344  start_1
56  228992  start_2
58  237052  start_4
60  245368  start_4
62  253320  start_1
64  260976  start_1
66  269432  start_3
68  277516  start_4
70  285704  start_1
72  293924  start_3
74  302244  start_3
76  310860  start_2
78  318512  start_4

In [71]:
event10.loc[event10['event'].str.contains('end')]

      time  event
1     4304  end_3
3    12944  end_4
5    20748  end_2
7    28556  end_1
9    36640  end_3
11   44432  end_1
13   52272  end_3
15   60228  end_2
17   68676  end_1
19   77028  end_3
21   85664  end_2
23   94260  end_2
25  102168  end_1
27  110288  end_2
29  118620  end_4
31  126800  end_3
33  135260  end_3
35  143192  end_1
37  150976  end_4
39  158816  end_4
41  167412  end_4
43  175068  end_4
45  182992  end_1
47  191452  end_2
49  199796  end_2
51  208128  end_3
53  216072  end_2
55  224656  end_1
57  233268  end_2
59  241328  end_4
61  249688  end_4
63  257632  end_1
65  265284  end_1
67  273760  end_3
69  281824  end_4
71  290008  end_1
73  298204  end_3
75  306556  end_3
77  315136  end_2
79  322792  end_4

In [87]:
#delta_t = event10.loc[event10['event'].str.contains('end')]['time'] - event10.loc[event10['event'].str.contains('start')]['time']

In [88]:
#delta_t

In [77]:
time1 = event10.loc[event10['event'].str.contains('end')]['time']

In [78]:
time2 = event10.loc[event10['event'].str.contains('start')]['time']

In [82]:
time1 = np.array(time1)

In [83]:
time2 = np.array(time2)

In [86]:
np.mean(time1 - time2)

4302.9

In [89]:
duration = 4300

In [90]:
event10_start = event10.loc[event10['event'].str.contains('start')]

In [104]:
event10_start['event'] = [int(i[-1]) for i in np.array(event10_start['event'])]

/Users/simonfei/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [105]:
event10_start

      time  event
0        4      3
2     8616      4
4    16432      2
6    24224      1
8    32344      3
10   40156      1
12   47948      3
14   55912      2
16   64396      1
18   72704      3
20   81340      2
22   89952      2
24   97888      1
26  105960      2
28  114332      4
30  122524      3
32  130988      3
34  138888      1
36  146692      4
38  154488      4
40  163132      4
42  170756      4
44  178684      1
46  187140      2
48  195488      2
50  203820      3
52  211760      2
54  220344      1
56  228992      2
58  237052      4
60  245368      4
62  253320      1
64  260976      1
66  269432      3
68  277516      4
70  285704      1
72  293924      3
74  302244      3
76  310860      2
78  318512      4

In [106]:
event10_start_label = event10_start

In [109]:
event10_start_label = event10_start_label.drop('time', axis = 1)

In [143]:
event10_start_label.to_csv('data/Train10Labels.csv', index = False, header = None)

In [112]:
for t in event10_start['time']:
    pass

In [115]:
eeg10['FeedBackEvent'] = [0]*len(eeg10)

In [116]:
eeg10

,time,C4,C2,C1,C3,FeedBackEvent
0,0,0.000000,0.000000,0.000000,0.000000,0
1,4,11102.714968,-2329.632918,-15015.879573,2087.004732,0
2,8,13684.989653,-1717.329230,-15123.547926,3529.094580,0
3,12,12287.782107,-819.683173,-12377.278492,3276.855144,0
4,16,9511.538984,-1332.700411,-11947.052115,1779.377673,0
...,...,...,...,...,...,...
81731,326924,17464.423771,1785.524402,-10709.704245,7737.481026,0
81732,326928,15606.010330,2500.601411,-8214.869584,7164.024671,0
81733,326932,13158.762534,1712.970640,-8557.968862,5659.104068,0
81734,326936,14702.888096,894.941496,-11093.103718,6038.301413,0
81735,326940,17336.035351,1560.151763,-11095.227134,7580.057690,0

In [117]:
event10_start_mod = event10_start

In [119]:
event10_start_mod['time'] = event10_start_mod['time'] + 160

/Users/simonfei/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [120]:
event10_start_mod['time']

0        164
2       8776
4      16592
6      24384
8      32504
10     40316
12     48108
14     56072
16     64556
18     72864
20     81500
22     90112
24     98048
26    106120
28    114492
30    122684
32    131148
34    139048
36    146852
38    154648
40    163292
42    170916
44    178844
46    187300
48    195648
50    203980
52    211920
54    220504
56    229152
58    237212
60    245528
62    253480
64    261136
66    269592
68    277676
70    285864
72    294084
74    302404
76    311020
78    318672
Name: time, dtype: int64

In [123]:
fbe_train = [0] * len(eeg10)
# for df in dfs_train:
#     fbe = []
#     for i in range(len(df)):
#         fbe.append(0)
#     fbe_train.append(fbe)
sts = event10_start_mod['time']
for st in sts:
    fbe_train[round(st/4)] = 1

In [125]:
eeg10['FeedBackEvent'] = fbe_train

In [126]:
eeg10

,time,C4,C2,C1,C3,FeedBackEvent
0,0,0.000000,0.000000,0.000000,0.000000,0
1,4,11102.714968,-2329.632918,-15015.879573,2087.004732,0
2,8,13684.989653,-1717.329230,-15123.547926,3529.094580,0
3,12,12287.782107,-819.683173,-12377.278492,3276.855144,0
4,16,9511.538984,-1332.700411,-11947.052115,1779.377673,0
...,...,...,...,...,...,...
81731,326924,17464.423771,1785.524402,-10709.704245,7737.481026,0
81732,326928,15606.010330,2500.601411,-8214.869584,7164.024671,0
81733,326932,13158.762534,1712.970640,-8557.968862,5659.104068,0
81734,326936,14702.888096,894.941496,-11093.103718,6038.301413,0
81735,326940,17336.035351,1560.151763,-11095.227134,7580.057690,0

In [128]:
eeg10.to_csv('data/Train10.csv', index = False)

In [129]:
eeg5 = data_eeg[1]
event5 = data_event[1]
timestamp5eeg = eeg5['timestamp'].to_numpy()
timestamp5event = event5['timestamp'].to_numpy()

eeg5_time = np.rint(timestamp5eeg * 1000)
eeg5_tmin = eeg5_time[0]
eeg5_time = eeg5_time - eeg5_tmin
eeg5_time = eeg5_time.astype(int)

event5_time = np.rint(timestamp5event * 1000)
event5_tmin = event5_time[0]
event5_time = event5_time - event5_tmin
event5_time = event5_time.astype(int)

In [130]:
event5_time

array([     0,   4307,   8117,  12401,  16438,  20763,  24532,  28877,
        32514,  36824,  40731,  45018,  48943,  53269,  57308,  61610,
        65403,  69694,  74010,  78332,  82630,  86951,  90713,  95033,
        99245, 103538, 107462, 111779, 115141, 119458, 123493, 127785,
       132101, 136419, 140714, 145032, 148953, 153241, 157436, 161734])

In [131]:
eeg5['time'] = eeg5_time
event5['time'] = event5_time
eeg5['timestamp'] = eeg5['time']
eeg5 = eeg5.drop('time', axis = 1)
eeg5 = eeg5.rename(columns={'timestamp' : 'time'})

In [133]:
event5['timestamp'] = event5['time']
event5 = event5.drop('time', axis = 1)
event5 = event5.rename(columns={'timestamp' : 'time'})

In [135]:
for time in event5['time']:
    index = eeg5.loc[eeg5['time'] <= time].index.values[-1]
    adjusted_time = index*4
    event5.loc[event5['time'] == time,'time'] = adjusted_time

In [147]:
eeg5['time'] = list(range(0,len(eeg5)*4,4))
eeg5 = eeg5.rename(columns={'4' : 'C4'})
eeg5 = eeg5.rename(columns={'5' : 'C2'})
eeg5 = eeg5.rename(columns={'6' : 'C1'})
eeg5 = eeg5.rename(columns={'7' : 'C3'})

In [142]:
time1 = event5.loc[event5['event'].str.contains('end')]['time']
time2 = event5.loc[event5['event'].str.contains('start')]['time']
time1 = np.array(time1)
time2 = np.array(time2)
np.mean(time1 - time2)

4310.0

In [144]:
event5_start = event5.loc[event5['event'].str.contains('start')]
event5_start['event'] = [int(i[-1]) for i in np.array(event5_start['event'])]
event5_start_label = event5_start
event5_start_label = event5_start_label.drop('time', axis = 1)
event5_start_label.to_csv('data/True5Labels.csv', index = False, header = None)

/Users/simonfei/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [145]:
event5_start_mod = event5_start
event5_start_mod['time'] = event5_start_mod['time'] + 160

fbe_train = [0] * len(eeg5)

sts = event5_start_mod['time']
for st in sts:
    fbe_train[round(st/4)] = 1
    
eeg5['FeedBackEvent'] = fbe_train

/Users/simonfei/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [149]:
eeg5.to_csv('data/Test5.csv', index = False)

# ML

In [183]:
import numpy as np                                      # for dealing with data
from scipy.signal import butter, sosfiltfilt, sosfreqz  # for filtering
import matplotlib.pyplot as plt                         # for plotting
import pandas as pd
import os
from os import listdir
from os.path import isfile, join, isdir
from generate_epoch import *
from sklearn.linear_model import LogisticRegression
import pickle
from sklearn.tree import DecisionTreeClassifier
from sklearn.svm import SVC
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis as LDA
from sklearn.model_selection import KFold
from lightgbm import LGBMClassifier
from xgboost import XGBClassifier
from sklearn.gaussian_process import GaussianProcessClassifier
from sklearn.neural_network import MLPClassifier, MLPRegressor
from pyriemann.estimation import XdawnCovariances
from pyriemann.tangentspace import TangentSpace
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import GridSearchCV
from sklearn.metrics import multilabel_confusion_matrix
from sklearn.metrics import confusion_matrix
import seaborn as sn
from sklearn.metrics import plot_confusion_matrix

In [151]:
train_list_arr = np.array(sorted(listdir('data/train')))
total_training_participant = 1
trial_per_subj = 1 # 1 x 1 = 1 csv files in total
train_list_arr = train_list_arr[1:]
train_list_np = np.reshape(train_list_arr, (total_training_participant,trial_per_subj))
test_list_arr = np.array(sorted(listdir('data/test')))
total_testing_participant = 1
test_trial_per_subj = 1
test_list_arr = test_list_arr[1:]
test_list_np = np.reshape(test_list_arr, (total_testing_participant,test_trial_per_subj))

In [154]:
stimulus_per_subj = 40
stimulus_per_subj_test = 20
channels = ['C4','C2','C1','C3']
epoch_s = 0 # 160ms already truncated from the start
epoch_e = 4000 #4 seconds; which means 140ms off from the end
fs = 250
epoch_len = int((abs(epoch_s) + abs(epoch_e)) * (fs / 1000))
train_data_list = np.empty((0, stimulus_per_subj, len(channels), epoch_len), float)
test_data_list = np.empty((0, stimulus_per_subj_test, len(channels), epoch_len), float)

In [155]:
def butter_bandpass_filter(data, lowcut, highcut, fs, order = 2):
#     nyq = 0.5 * fs
#     low = lowcut / nyq
#     high = highcut / nyq
#     sos = butter(order, [low, high], analog = False, btype = 'band', output = 'sos')
#     filted_data = sosfiltfilt(sos, data)
#     return filted_data
    return data

In [156]:
lowcut = 0.5
highcut = 100
bl_s = -400
bl_e = -300
for training_participant_id in range(total_training_participant):
    subject_dir_list = train_list_np[training_participant_id]
    subject_epoch = np.empty((0, len(channels), epoch_len), float)
    for trial_id in range(trial_per_subj):
        subject_dir = subject_dir_list[trial_id]
        data = generate_epoch(file_path = 'data/train/'+subject_dir, channels = channels, \
                              eeg_filter = butter_bandpass_filter, fs = fs, epoch_s = epoch_s, \
                              epoch_e = epoch_e, bl_s = bl_s, bl_e = bl_e)
        subject_epoch = np.vstack((subject_epoch, data))
    subject_epoch = np.reshape(subject_epoch, (1, stimulus_per_subj, len(channels), epoch_len))
    train_data_list = np.vstack((train_data_list, subject_epoch))

print('Epoched training data shape: '+ str(train_data_list.shape))

for testing_participant_id in range(total_testing_participant):
    subject_dir_list = test_list_np[testing_participant_id]
    subject_epoch = np.empty((0, len(channels), epoch_len), float)
    for trial_id in range(test_trial_per_subj):
        subject_dir = subject_dir_list[trial_id]
        data = generate_epoch(file_path = 'data/test/'+subject_dir, channels = channels, \
                              eeg_filter = butter_bandpass_filter, fs = fs, epoch_s = epoch_s, \
                              epoch_e = epoch_e, bl_s = bl_s, bl_e = bl_e)
        subject_epoch = np.vstack((subject_epoch, data))
    subject_epoch = np.reshape(subject_epoch, (1, stimulus_per_subj_test, len(channels), epoch_len))
    test_data_list = np.vstack((test_data_list, subject_epoch))

print('Epoched testing data shape: '+ str(test_data_list.shape))

Epoched training data shape: (1, 40, 4, 1000)
Epoched testing data shape: (1, 20, 4, 1000)

In [158]:
y = pd.read_csv('data/Train10Labels.csv', header = None)
y = y.values.reshape(40,)
print(y.shape)
yT = pd.read_csv('data/True5Labels.csv', header = None) # put your train label path here
yT = yT.values.reshape(20,)
print(yT.shape)

(40,)
(20,)

In [160]:
XC = XdawnCovariances(nfilter=1)
output = XC.fit_transform(np.reshape(train_data_list, (1*40, 4, 1000)), y)
print(output.shape)
output = TangentSpace(metric='riemann').fit_transform(output)
print(output.shape)

(40, 8, 8)
(40, 36)

In [161]:
outputT = XC.fit_transform(np.reshape(test_data_list, (1*20, 4, 1000)), yT)
outputT = TangentSpace(metric='riemann').fit_transform(outputT)
outputT.shape

(20, 36)

In [162]:
X = np.reshape(output, (1, 40, 36))
data_train = X[:6]
data_test = X[-3:]
print(data_train.shape, data_test.shape)

(1, 40, 36) (1, 40, 36)

In [163]:
# data split
y_train, y_test = np.array([]), np.array([])
y_train = y

y_test = yT

X_train = output

X_test = outputT

print(X_train.shape, y_train.shape, X_test.shape, y_test.shape)

(40, 36) (40,) (20, 36) (20,)

In [164]:
logreg = LogisticRegression()
logreg.fit(X_train,y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [165]:
y_pred = logreg.predict(X_test)

In [166]:
from sklearn.metrics import classification_report
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           1       0.00      0.00      0.00         5
           2       0.38      0.60      0.46         5
           3       0.67      0.40      0.50         5
           4       0.43      0.60      0.50         5

    accuracy                           0.40        20
   macro avg       0.37      0.40      0.37        20
weighted avg       0.37      0.40      0.37        20

In [169]:
# Create the parameter grid based on the results of random search 
param_grid = {
    'bootstrap': [True],
    'max_depth': [80, 90, 100, 110],
    'max_features': [2, 3],
    'n_estimators': [100, 200, 300, 1000]
}

# Fit the grid search to the data
if not isfile('random_forest_gs'): 
    rf = RandomForestClassifier()
    # Instantiate the grid search model
    grid_search = GridSearchCV(estimator = rf, param_grid = param_grid, 
               cv = 4, n_jobs = -1)
    grid_search.fit(X_train, y_train)
    pickle.dump(grid_search, open('random_forest_gs', 'wb'))

In [170]:
grid_search = pickle.load(open('random_forest_gs', 'rb'))
print(grid_search.best_params_)

{'bootstrap': True, 'max_depth': 110, 'max_features': 3, 'n_estimators': 300}

In [188]:
Y_pred_proba = grid_search.predict_proba(X_test)
#confusion_matrix(y_test, Y_pred_proba[:,1])

In [187]:
Y_pred_proba[:,1]

array([0.17      , 0.15333333, 0.26666667, 0.33333333, 0.21333333,
       0.32333333, 0.31666667, 0.16      , 0.28333333, 0.39      ,
       0.25666667, 0.24666667, 0.39666667, 0.27      , 0.31333333,
       0.24      , 0.35333333, 0.25      , 0.18333333, 0.27      ])

In [189]:
X_test

array([[-1.63782551e-01,  1.80320299e-01, -5.01137068e-02,
        -1.50525625e-01,  1.40711925e-01, -9.13311627e-01,
         5.38745739e-01, -3.30373345e-02,  1.35257857e-01,
         2.02674569e-01,  6.60684200e-02, -2.66999246e-01,
        -7.22393872e-01, -9.46687709e-01,  3.09394629e-01,
         6.80980998e-02,  1.43109352e-01, -2.20900791e+00,
        -1.15376304e+00,  1.07889339e+00,  9.78035347e-01,
        -4.71981275e-02,  7.93814505e-02, -4.37312722e-01,
        -1.36327927e+00,  1.66443606e+00,  2.93519254e-03,
        -5.94918866e-01, -4.47313576e-01,  5.24324833e-01,
         4.76671133e-01,  7.03285634e-01,  5.29892580e-01,
         2.03746714e-01,  2.09984022e-01,  6.05753642e-01],
       [ 1.25788291e-01,  1.12691224e-01, -4.41179679e-02,
        -6.31508581e-02, -3.47984620e-01,  6.00273962e-01,
         3.67331581e-01,  4.48527664e-01,  1.62266271e-01,
         1.58249774e-01, -1.97839788e-01,  3.20775929e-01,
        -1.20126231e+00, -3.72745275e-01,  7.67696824e-01,
         8.77113558e-02,  2.19842997e-01, -2.30475180e+00,
        -9.26152726e-01,  1.12067838e+00,  7.62943449e-01,
        -1.77063317e-01,  2.30825062e-01, -5.47230896e-01,
        -1.16210170e+00,  2.05144106e+00, -2.49553599e-01,
        -1.08208866e-01, -3.22884510e-01,  1.97685387e-01,
        -6.10590423e-01,  1.87551318e-01, -1.71900396e-01,
         2.59233207e-01, -2.89571112e-01, -1.37238188e-01],
       [-5.16844774e-01, -1.79384943e-01, -3.30758925e-02,
         3.95909417e-02,  7.84365360e-01, -1.05761734e+00,
        -2.61117271e-01, -2.20279887e-01,  1.17769312e-01,
        -2.99055744e-03, -1.56010421e-01,  8.05244183e-01,
        -2.92339959e-01, -3.48302323e-01, -1.03133366e+00,
         1.33470241e-01, -1.31307494e-01,  1.44070814e+00,
         5.99704663e-01, -2.65673957e+00,  1.01388441e+00,
         1.89355807e-01,  1.18683864e+00,  1.37280325e+00,
        -1.28409459e-01, -2.06520364e+00,  5.09627837e-01,
        -4.78838030e-01, -1.74150073e-01, -3.75608346e-02,
         3.22545034e-01,  8.33752134e-02, -2.44408302e-01,
        -2.73565153e-01, -2.43687215e-01, -1.77786574e-02],
       [-9.07356693e-03,  2.07737736e-01,  1.30573007e-01,
         1.10775308e-01,  6.36772426e-01,  2.32652085e-01,
         4.18944479e-01,  1.94429898e-01,  1.64449535e-01,
        -1.52230319e-01, -9.68315435e-02,  9.97612813e-03,
        -3.70605382e-01,  5.00468521e-01, -9.74894557e-01,
         4.79073726e-02,  2.32536427e-02,  2.02128233e+00,
         1.11098913e+00, -7.67383710e-01, -1.88194467e+00,
         1.82876057e-01, -6.63065606e-01,  2.42249492e-01,
         1.78295717e+00, -1.69544943e+00,  7.53034356e-02,
        -8.27301376e-02, -5.65893608e-01,  5.19944380e-01,
         2.25637997e-01,  2.13736295e-01, -6.17752856e-02,
        -1.43689306e-01,  1.56758816e-01,  1.00356369e-01],
       [-3.75940660e-01,  7.32363365e-02,  3.69120413e-02,
        -4.71575212e-01,  1.82384112e-01, -1.77730077e-01,
         1.31409397e+00,  4.86983436e-01,  1.72482297e-01,
         5.84823499e-02,  2.03178713e-01, -5.23999937e-01,
         1.82987501e-01,  1.56344323e-01,  7.48514369e-01,
        -5.19700104e-02,  4.15652451e-02, -1.67599322e+00,
        -4.66387925e-01,  1.90605920e+00, -1.12607008e+00,
        -1.59183870e-01, -1.29716955e+00, -9.42293873e-01,
         3.88953306e-01,  1.78590583e+00,  2.11281049e-01,
        -6.85760432e-02,  1.47905388e-01,  3.95485735e-01,
         2.75544750e-01,  5.10109760e-01, -9.60554673e-02,
        -4.83111038e-01, -2.19386588e-01,  3.09299822e-01],
       [ 1.19382280e-01,  4.35142942e-02, -7.52420927e-02,
        -6.02614422e-02,  3.68452969e-01,  2.54305715e-01,
         6.91580071e-02,  4.72703331e-01, -3.50877080e-01,
        -7.25497590e-02,  1.77351962e-01,  5.29003529e-01,
         1.20548637e+00, -5.63663192e-01, -2.06774972e-01,
         9.25984847e-02, -1.92270759e-01,  1.00774817e+00,
         2.03047186e-01, -2.61013506e+00,  1.76886923e+00,
        -1.50339981e-01,  2.17233405e+00,  8.83561594e-01,
        -3.74857755e-01, -1.69747466e+00,  1.71983257e-01,
        -3.27267252e-01, -6.93893635e-01, -4.25698237e-02,
         9.25229134e-01,  5.45063919e-01,  3.69194181e-01,
        -5.36044717e-01,  2.06152514e-01,  3.25706291e-01],
       [ 2.98431286e-01, -1.39180495e-01,  8.80594487e-02,
         1.51434678e-01, -5.34412018e-01,  2.50096852e-01,
        -6.60179832e-01, -6.75233040e-02, -5.56843766e-01,
         1.40630286e-01,  2.04981160e-01,  5.70026924e-02,
         1.19104232e+00, -9.81613406e-01, -5.46649913e-01,
         1.42153083e-01, -2.84233127e-01,  6.71706491e-01,
         2.11171059e-02, -2.52987149e+00,  1.94197014e+00,
        -5.98138217e-02,  2.07058527e+00,  1.00468134e+00,
        -8.12501534e-01, -1.29973918e+00,  6.67427316e-01,
        -4.24293095e-01, -1.81397776e-01,  1.40035537e-01,
         3.67863757e-02, -2.64275376e-01, -4.00044487e-01,
        -4.49357886e-01,  1.07935116e-02,  1.18481207e-01],
       [-1.06635147e-01, -2.79533643e-01,  1.63997489e-01,
         5.33477760e-01, -9.78032486e-01, -2.05148832e-01,
        -7.79970251e-01, -1.05257200e+00,  4.24109739e-02,
         1.71905114e-01,  2.97131579e-01, -6.12089338e-01,
        -1.99484255e-02, -9.56051105e-01,  3.07529432e-01,
         1.76789090e-01,  1.58389596e-01, -2.21028175e+00,
        -8.98944955e-01,  9.40774445e-01,  8.17318075e-01,
        -1.31613403e-01,  2.51076970e-01, -1.75840251e-01,
        -1.19077410e+00,  1.92862802e+00, -1.48512718e-01,
         3.34904331e-01, -2.14249265e-01,  5.80183387e-01,
         2.57210656e-01,  3.90057248e-01,  3.06643014e-01,
         3.73330640e-01,  2.26121414e-01,  5.95378630e-01],
       [ 3.03815982e-01,  4.63914007e-02,  1.17266145e-01,
         7.43384201e-02, -5.03108101e-01,  7.39355786e-02,
        -4.30355472e-01, -7.32046294e-02, -3.34762580e-01,
         1.93244540e-01, -2.08594138e-02,  2.43200673e-01,
         1.42092719e+00, -7.54364434e-01,  3.12790562e-01,
         2.22747374e-01, -1.71030164e-01, -4.27036304e-01,
        -7.49858288e-01, -1.22692110e+00,  2.71426894e+00,
         2.77993428e-02,  1.72437923e+00,  7.73324037e-01,
        -1.62677544e+00,  3.94268909e-02,  1.15031717e-01,
         2.23722005e-01, -1.04448175e+00, -4.67540551e-01,
        -9.75356734e-02,  2.59506370e-02,  9.07688227e-02,
        -6.00024045e-01, -6.78698293e-01, -5.77127385e-01],
       [ 2.15952700e-01,  5.60197605e-03, -1.18286005e-01,
        -1.50014508e-02,  5.27408160e-01,  2.53569189e-01,
        -2.63024786e-02, -1.02766665e-01,  1.35581724e-01,
        -2.05040115e-01, -3.29409402e-02,  4.74224655e-01,
        -4.58053042e-01,  4.00636393e-01, -1.06373246e+00,
         9.19976755e-02, -6.97357134e-02,  2.32106304e+00,
         1.13501731e+00, -1.11588294e+00, -1.20659462e+00,
         1.74304068e-01, -3.71986584e-02,  7.60259021e-01,
         1.79134442e+00, -1.80218252e+00, -4.10102930e-01,
         1.93905483e-01, -7.81340314e-01, -1.27590616e-01,
         3.16250034e-01, -4.56498798e-02,  6.41163501e-01,
        -4.06033256e-01, -3.51054044e-01,  1.64127158e-01],
       [ 2.03671323e-01, -1.56145260e-01, -1.73362218e-01,
         3.79674872e-02, -1.99004772e-01, -1.22509902e-01,
         5.10433761e-01, -9.51639402e-03,  1.03731120e-01,
        -1.78736325e-01, -9.40113463e-02, -2.42302902e-01,
        -8.95158271e-01,  6.90462668e-01,  1.06837419e+00,
        -1.60978098e-01,  2.39468418e-01, -1.45501022e+00,
        -6.44027854e-01,  2.55066627e+00, -6.03775771e-01,
         4.90268001e-02, -1.37957611e+00, -8.67911507e-01,
        -7.56737214e-01,  1.43345712e+00,  9.75839584e-02,
        -1.05626867e-02,  2.49071389e-01,  2.28325564e-01,
         2.03327904e-02, -7.21414696e-02,  2.87589917e-01,
        -7.91522889e-01, -3.32836911e-01,  4.18876271e-01],
       [ 1.01545647e-01,  3.82175773e-01,  1.28097745e-01,
         1.19906613e-01,  1.58015428e-01, -4.99518599e-01,
         1.23382955e-01, -3.67675066e-01,  5.31520652e-02,
         1.37112433e-01,  1.01391909e-01, -7.88852935e-01,
         2.32815460e-02, -7.06117383e-01,  4.56012439e-01,
         1.19190387e-01,  1.15377086e-01, -2.06696460e+00,
        -8.69583434e-01,  1.47271820e+00,  2.59252768e-01,
         7.57073965e-04, -6.40615038e-01, -3.75221505e-01,
        -1.10589425e+00,  1.84518256e+00, -3.61161867e-01,
        -3.07113005e-01, -5.01020930e-01, -3.79472035e-02,
         5.21398144e-01, -9.24645614e-02, -1.66808509e-01,
        -2.96323059e-01, -7.18941418e-01, -1.05109534e-01],
       [ 2.95239805e-01,  1.34314480e-02, -4.80541275e-02,
         5.02736078e-02, -5.10815873e-02,  1.99803742e-01,
        -3.83365298e-01, -5.84692009e-01, -3.77019629e-01,
        -2.02164388e-01,  1.57517256e-01, -1.07378183e+00,
         8.59561827e-01,  6.36325621e-01, -9.36749852e-01,
         1.55574682e-02, -2.81740382e-02,  1.51217014e+00,
         8.79689272e-01,  9.90332767e-02, -2.43061186e+00,
         8.06900132e-02, -1.04607364e+00, -6.63421562e-01,
         1.67817275e+00, -1.19790010e+00, -9.50098766e-02,
         1.71840553e-01, -2.79600767e-01, -1.94362567e-01,
        -4.48602634e-01, -1.07993833e+00, -2.75148441e-01,
        -5.14721042e-01, -5.46189855e-01, -5.16819866e-01],
       [ 2.29289642e-01,  2.12599336e-02,  2.17989597e-01,
         1.58864221e-01,  7.88080794e-02,  8.06731065e-02,
        -1.36199170e-01,  3.55969971e-01,  2.00005694e-01,
         5.03835854e-02, -8.95720835e-02,  1.11198886e+00,
        -3.38244879e-01,  3.26600660e-01, -5.66887165e-01,
         8.37435059e-03, -1.22882743e-01,  1.35450118e+00,
         1.06108560e+00, -2.99023873e+00,  4.06080964e-01,
         1.28768836e-01,  1.43258391e+00,  1.00539404e+00,
         4.76122068e-01, -2.04394848e+00,  4.46003284e-02,
         3.15278575e-01, -8.01839440e-02,  7.35888597e-02,
        -4.55941021e-01, -1.43406388e-01, -1.88189368e-01,
        -4.83246992e-01, -2.19667852e-01,  2.18465284e-01],
       [-2.15541028e-01,  4.91567325e-02,  3.78975171e-01,
        -2.32548582e-01,  7.29179240e-01,  4.10288322e-01,
        -2.59464799e-01,  7.12986509e-01, -1.74677230e-01,
        -2.42329569e-01,  2.15196242e-02,  3.95730329e-01,
         1.13887356e+00,  7.74468267e-01, -6.43489563e-01,
         4.92369293e-02,  2.56374136e-02,  1.59901385e+00,
         1.08233524e+00, -2.19666281e+00, -1.36757731e+00,
         3.75715163e-02,  9.06990271e-01,  4.34951238e-01,
         1.46346581e+00, -1.75466547e+00,  3.35814543e-01,
        -2.88242362e-01,  9.56823528e-01,  3.36416072e-02,
         4.39691739e-03, -1.95635927e-01, -4.67972979e-03,
         7.30229218e-01,  3.65789036e-01, -1.91548221e-01],
       [ 2.85694935e-01,  5.68588578e-02, -2.05363574e-01,
         3.77501744e-02, -2.65039844e-01,  3.53056800e-01,
         7.35345026e-02, -1.62080195e-01,  7.14286772e-02,
         1.40896742e-01, -8.88082877e-03, -2.22001749e-01,
        -1.66082622e+00,  2.36281997e-01,  3.74738429e-01,
        -5.88686825e-01,  1.82301542e-01,  1.10833205e-01,
         2.13937597e-01,  2.75688504e+00, -2.45091588e-01,
         1.49375896e-01, -1.84320118e+00, -3.91222006e-01,
         1.54830671e-01,  1.17428898e+00, -6.14939382e-01,
         2.77516181e-01,  9.21452421e-01, -5.90038593e-01,
        -1.08834393e+00, -6.36470070e-01, -6.67169918e-01,
         5.33501375e-01,  1.87891824e-01, -2.36400795e-01],
       [ 1.10040845e-01, -1.30665975e-02, -1.75566149e-02,
        -1.73588431e-01,  1.34526443e-01, -6.40549369e-01,
        -4.14259188e-01, -6.79533864e-01, -4.19430524e-02,
        -2.17140352e-01, -4.41610927e-01,  5.27827671e-01,
        -4.16975555e-01,  1.45965731e+00,  5.23892604e-01,
        -4.78644637e-02, -1.61646626e-01,  1.47114914e+00,
         8.22434911e-01,  7.48886644e-01, -2.11267055e+00,
        -2.17902199e-01, -5.38539435e-01, -8.03509444e-01,
         2.19939450e+00,  7.30604195e-02,  1.51514558e-01,
         1.09926538e-01,  6.60239742e-01, -3.09992821e-01,
        -3.06994061e-01, -2.57553075e-01, -2.75396222e-01,
         6.27541919e-01,  3.08336063e-01, -6.02463835e-01],
       [-5.52133502e-02, -2.30512538e-01,  1.01028703e-02,
         2.88081798e-01, -7.82941937e-01,  1.05984196e+00,
        -2.06730040e-01,  6.36877925e-01, -8.93840029e-02,
         1.69316406e-01, -3.31270941e-01, -1.30352750e-01,
         8.32058477e-01, -8.89018953e-01, -9.33010264e-03,
         2.24921182e-01,  4.99897040e-02, -1.49687996e+00,
        -9.30668999e-01, -1.22817062e+00,  2.30170878e+00,
        -1.46496528e-01,  5.07346740e-01,  8.81936609e-01,
        -2.50615033e+00, -5.03404416e-01, -3.09096716e-01,
         3.72487522e-01,  1.16948452e-01, -3.20069436e-01,
         1.39071754e-01,  1.58098227e-01,  3.78109565e-01,
         7.33565430e-01,  5.86430827e-01, -6.64471342e-01],
       [-1.04241275e+00, -2.20991911e-01, -7.60981189e-01,
        -3.20106502e-01,  8.74228332e-01, -2.44054711e-01,
         4.16768963e-01,  7.61523118e-01,  2.40868973e-01,
        -3.39254466e-02,  2.73502628e-02, -4.28086273e-01,
        -2.89785278e-01,  6.82690208e-01,  6.22907422e-01,
        -2.61327109e-01, -1.08572280e-01,  1.44814751e-02,
        -5.48505493e-01,  2.21045397e+00, -1.21196619e+00,
         4.64554388e-02, -1.43806877e+00, -1.07918885e+00,
         5.72965639e-01,  1.14459698e+00,  8.44150799e-02,
         4.81830589e-01,  1.29798638e+00,  6.70606042e-02,
         4.84929653e-02,  2.21415430e-01,  3.21331445e-01,
         8.61044637e-01,  9.09801017e-01,  3.96784317e-01],
       [ 1.96591096e-01,  2.64393755e-02,  2.54179874e-01,
        -1.15702905e-01, -9.53247109e-01,  9.19431445e-02,
        -2.74450156e-01, -7.17120510e-01,  3.26102842e-01,
        -1.15788967e-01,  2.13337347e-01, -1.86507688e-01,
        -1.88625595e-01,  6.54627812e-01,  4.87991336e-01,
        -3.69926587e-01,  7.09179485e-02,  3.21268604e-01,
         5.85346923e-02,  2.43695720e+00, -7.78029457e-01,
         2.26303983e-02, -1.67883361e+00, -1.07600800e+00,
         5.19274708e-01,  9.19543983e-01, -2.79141184e-01,
         2.09338568e-01,  9.35982842e-01, -6.32603445e-01,
        -5.61559943e-01, -2.51108598e-01, -3.73116898e-01,
         6.55446242e-01,  4.31974246e-01, -2.04271167e-01]])